* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$bp-largest: 84em; // 1344px

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: $color-grey-10;
  line-height: 1.9;
  background-color: $color-grey-2;
}

button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}
