* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$bp-largest: 84em; // 1344px
$bp-large: 75em; // 1200px
$bp-medium: 59em; // 944px
$bp-small: 44em; // 704px

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: $color-grey-10;
  line-height: 1.9;
  background-color: $color-grey-2;
  overflow-x: hidden;
}

button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}
