.highlight {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: $gradient-primary;
  }
}

.lazy-img {
  filter: blur(20px);
}

.section {
  padding: 15rem 3rem;
  border-top: 1px solid $color-grey-3;

  transition: transform 1s, opacity 1s;

  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 8rem 3rem;
  }

  &__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;

    @media only screen and (max-width: $bp-large) {
      max-width: 105rem;
    }
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 1rem;
  }

  &__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;

    @media only screen and (max-width: $bp-large) {
      font-size: 3rem;
    }
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}
