/* FEATURES */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;

  @media only screen and (max-width: $bp-medium) {
    margin: 0;
  }

  &__img {
    width: 100%;
  }

  &__feature {
    align-self: center;
    justify-self: center;
    width: 70%;
    font-size: 1.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-opacity;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-primary;
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

/* TESTIMONIALS */

.section {
  &__title {
    &--testimonials {
      margin-bottom: 4rem;
    }
  }
}

.testimonial {
  width: 65%;
  position: relative;

  &::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: $color-primary;
    z-index: -1;
  }

  &__header {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
    color: #666;
  }

  &__author {
    margin-left: 3rem;
    font-style: normal;

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
  }

  &__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
  }

  &__location {
    font-size: 1.5rem;
  }
}

/* SIGN UP */

.section {
  &--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;

    .section {
      &__header {
        color: #fff;
        text-align: center;
      }

      &__title {
        margin-bottom: 6rem;

        @media only screen and (max-width: $bp-large) {
          max-width: 80rem;
        }
      }
    }

    .btn {
      font-size: 1.9rem;
      padding: 2rem 5rem;
    }
  }
}
