.footer {
  padding: 10rem 3rem;
  background-color: $color-grey-13;

  @media only screen and (max-width: $bp-small) {
    padding: 8rem 3rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-small) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }

  &__item {
    margin-right: 4rem;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.6rem;
    color: $color-grey-1;
    text-decoration: none;
  }

  &__link &__logo:focus {
    box-shadow: none;
  }

  &__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;

    cursor: pointer;
  }

  &__copyright {
    font-size: 1.4rem;
    color: $color-grey-6;
    text-align: center;
  }

  &__copyright &__link {
    font-size: 1.4rem;
  }
}
