.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    flex: 1;

    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;

    align-items: start;
    justify-items: start;

    @media only screen and (max-width: $bp-largest) {
      max-width: 105rem;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 6rem;
    }
  }

  &__text-box,
  &__img-box {
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  }

  &__text-box > :not(:last-child) {
    margin-bottom: 3rem;
  }

  &__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);

    @media only screen and (max-width: $bp-medium) {
      width: 50%;
      transform: translateY(0);
    }
  }
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;

  @media only screen and (max-width: $bp-largest) {
    font-size: 5rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 4rem;
  }
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}
