.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }

  .sticky {
    position: fixed;
    background-color: $color-white-95;
  }

  &__logo {
    height: 4.5rem;
    transition: all 0.3s;
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: $bp-medium) {
      background-color: $color-white-95;
      backdrop-filter: blur(4px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4.8rem;

      transition: all 0.5s;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &__item {
    margin-left: 4rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.7rem;
      font-weight: 400;
      color: inherit;
      text-decoration: none;
      display: block;
      transition: all 0.5s ease-in;

      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
      }
    }

    &--btn:link,
    &--btn:visited {
      padding: 0.8rem 2.5rem;
      border-radius: 3rem;
      background-color: $color-primary;
      color: $color-grey-12;
    }

    &--btn:hover,
    &--btn:active {
      color: inherit;
      background-color: $color-primary-darker;
      color: $color-grey-11;
    }
  }
}

.nav-open {
  .nav__links {
    @media only screen and (max-width: $bp-medium) {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translate(0);
    }
  }

  .mobile-nav {
    .icon-menu {
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }

    .icon-x {
      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }
  }
}

.mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    z-index: 9999;
  }

  &__icon svg {
    width: 4.8rem;
    height: 4.8rem;
    fill: $color-grey-10;
  }

  .icon-x {
    display: none;
  }
}
